@media screen and (min-width: 800px) {
	div#corps {
		margin-bottom: 40px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	hr {
		width: 10%;
		border: 0;
		border-top: 1px solid black;
		margin-top: 50px;
	}

	div.LinkBtn {
		width: 50%;
		display: flex;
		margin-top: 20px;
	}

	div.bouton {
		width: 50%;
		display: flex;
		flex-direction: column;
		vertical-align: middle;
		justify-content: center;
	}

	div.bouton a {
		display: flex;
		flex-direction: column;
		vertical-align: middle;
		justify-content: center;
		text-decoration: none;
		margin-right: 10px;
		margin-left: 10px;
	}

	div.bouton a h2 {
		z-index: 2;
		position: relative;
		top: 50%;
		text-align: center;
		font-size: 2vw;
		font-family: Arial;
		color: white;
		-webkit-text-stroke-width: 0.075vw;
	  	-webkit-text-stroke-color: black;
	}

	div.bouton a img {
		z-index: 1;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 25px;
		transition: 0.7s;
	}

	div.bouton a:hover img{
		filter: blur(1.5px);
	}
}

@media screen and (max-width: 800px) {
	div#corps {
		margin-bottom: 40px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	hr {
		width: 10%;
		border: 0;
		border-top: 1px solid black;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	div.Linkbtn {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	div.bouton {
		width: 80%;
		display: flex;
		flex-direction: column;
		vertical-align: middle;
		justify-content: center;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	div.bouton a {
		position: relative;
		display: flex;
		flex-direction: column;
		vertical-align: middle;
		justify-content: center;
		text-decoration: none;
	}

	div.bouton a h2 {
		z-index: 2;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		text-align: center;
		font-size: 8vw;
		font-family: Arial;
		color: white;
		-webkit-text-stroke-width: 0.25vw;
	  	-webkit-text-stroke-color: black;
	}

	div.bouton a img {
		z-index: 1;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50px;
		transition: 0.7s;
	}

	div.bouton a:hover img{
		filter: blur(2px);
	}
}