@media screen and (min-width: 800px) {
    #banner-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    #corps {
        width: 70%;
        margin: 100px 15%;
        padding: 50px;
        background-color: #363636;
        border-radius: 50px;
    }
}
@media screen and (max-width: 800px) {
    #banner-title {
        width: 90%;
        position: absolute;
        top: 57.5%;
        left: 50%;
        transform: translateX(-50%);
    }

    #corps {
        width: 95%;
        margin: 100px auto 100px;
        padding: 50px 20px;
        background-color: #363636;
        border-radius: 50px;
    }
}

h1.text-jour {
    color: #347e33;
    margin: 20px auto 65px;
    font-family: Arial Rounded MT;
    /*text-decoration: underline;*/
    text-align: center;
}

p.contenu {
    color: white;
    font-family: Calibri;
    font-weight: normal;
    text-align: justify;
    font-size: 20px;
}

ul {
    margin: 20px 20px;
}

ul li {
    color: white;
    font-family: Arial;
    text-align: justify;
    font-size: 16px;
}

hr {
    width: 25%;
    margin: 50px 0 50px 50%;
    transform: translateX(-50%);
    border: 0;
    border-top: 2px solid #ffffff;
    color: #ffffff;
}

form {
    margin-top: 80px;
    margin-bottom: 30px;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
}

form p {
    color: white;
    font-family: Arial;
    margin-top: 40px;
    margin-bottom: 10px;
}

label {
    color: white;
    font-family: Arial;
    margin: 10px 5px;
}

form button {
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    margin-top: 50px;
}

h2#signature {
    color: white;
    text-align: center;
    font-family: Arial;
    padding-top: 50px;
    font-weight: lighter;
    font-size: 18px;
}

@media screen and (min-width: 800px) {
    #corps img {
        margin: 20px 0;
        width: 50%;
        /*margin-left: 50%;*/
        transform: translateX(50%);
        border: 1px solid black;
    }

    .img-text {
        width: 50%;
        margin: auto;
    }

    iframe {
        margin: 15px 0 15px 50%;
        transform: translateX(-50%);
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    #corps img {
        margin: 20px 0;
        width: 80%;
        /*margin-left: 50%;*/
        transform: translateX(13%);
        border: 1px solid black;
    }

    .img-text {
        width: 100%;
        margin: auto;
    }

    iframe {
        margin: 15px 0 15px 50%;
        transform: translateX(-50%);
        width: 90%;
    }
}

.day-title {
    font-family: Arial;
}

footer li {
    color: black;
}