@media screen and (min-width: 800px) {
	div#corps {
		margin-bottom: 40px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	h2 {
		width: 100%;
		text-align: center;
		font-family: Comfortaa;
		font-weight: bold;
		margin-top: 60px;
		margin-bottom: 40px;
	}

	p.paragraphe {
		font-family: Arial;
		font-size: 16px;
		color: black;
		margin-bottom: 10px;
	}

	div.LogoRs {
		display: flex;
		margin-bottom: 10px;
	}

	img.LogoRs {
		width: 40px;
		margin-top: 5px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 5px;
	}

	hr {
		width: 10%;
		border: 0;
		border-top: 1px solid black;
		margin-top: 50px;
	}

	section {
		width: 90%;
		margin-left: 7.8%;
	}

	form#form-contact {
		width: 60%;
		margin-left: auto;
    	margin-right: auto;
	}

	div.form-div {
		display: block;
		margin: 10px;
	}

	div.form-div#nom-prenom {
		display: flex;
	}

	div.form-subdiv {
		width: 50%;
	}

	label.form-label {
		font-weight: bold;
		font-family: Arial;
	}

	input.form-input {
		display: block;
		width: 70%;
		height: 20px;
		margin-top: 5px;
		margin-bottom: 25px;
	}

	div.form-div textarea {
		display: block;
		width: 85%;
		margin-top: 5px;
		resize: none;
	}

	div.form-div select {
		width: 86%;
		margin-top: 5px;
		margin-bottom: 20px;
	}

	input#email {
		width: 85%;
	}

	button#submit-button {
		position: relative;
		top: 0;
		border-radius: 20px;
		width: 80px;
		height: 35px;
	}
}

@media screen and (max-width: 800px) {
	div#corps {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

		h2 {
		width: 100%;
		text-align: center;
		font-family: Comfortaa;
		font-weight: bold;
		margin-top: 60px;
		margin-bottom: 30px;
	}

	p.paragraphe {
		font-family: Arial;
		font-size: 16px;
		color: black;
		margin-bottom: 10px;
	}

	div.LogoRs {
		display: flex;
		margin-bottom: 10px;
	}

	img.LogoRs {
		width: 40px;
		margin-top: 5px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 5px;
	}

	hr {
		width: 10%;
		border: 0;
		border-top: 1px solid black;
		margin-top: 50px;
	}

	section {
		width: 90%;
	}

	form#form-contact {
		margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 13.8vh;
	}

	div.form-div {
		display: flex;
		flex-direction: column;
		margin: 10px;
	}

	div.form-subdiv {
		display: block;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	label.form-label {
		display: flex;
		flex-direction: column;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 8px;
		font-family: Arial;
	}

	div.form-div textarea {
		resize: none;
	}

	button#submit-button {
		margin-top: 10px;
		margin-left: auto;
		margin-right: 3%;
		border-radius: 20px;
		width: 80px;
		height: 35px;
	}
}