@media screen and (min-width: 800px) {
    div#corps {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    div.zoom {
        position: sticky;
        top: 67%;
        left: 95.5%;
        display: flex;
        flex-direction: column;
        margin-top: -70px;
    }

    img.zoomBtn {
        width: 50px;
        margin: 5px;
        cursor: pointer;
        transition: 0.25s;
    }

    img.zoomBtn:hover {
        filter: invert(30%);
    }

    img#cv {
        width: 55%;
        margin-top: -50px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #000000;
    }

    a#download {
        position: relative;
        right: -49%;
        bottom: 40px;
        transform: translateX(-50%);
    }

    a#download img {
        width: 45px;
        transition: 0.25s;
    }

    a#download:hover img {
        filter: invert(30%);
    }
}

@media screen and (max-width: 800px) {
    div#corps {
        margin-top: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    div.zoom {
        position: relative;
        right: -38%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        margin-top: -65px;
        margin-bottom: 20px;
    }

    img.zoomBtn {
        width: 35px;
        margin: 5px;
        cursor: pointer;
        transition: 0.25s;
    }

    img.zoomBtn:hover {
        filter: invert(30%);
    }

    img#cv {
        width: 92.5%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #000000;
    }

    a#download {
        position: relative;
        right: -46.75%;
        top: calc(-702px + (500px - 100vw));
        transform: translateX(-50%);
    }

    a#download img {
        width: 35px;
        transition: 0.25s;
    }

    a#download:hover img {
        filter: invert(30%);
    }
}