div#corps {
	width: 100%;
	align-items: center;
}

div#corps div {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}

div#corps div h2 {
	width: 100%;
	text-align: center;
	font-family: Comfortaa;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
}

div#corps div h3 {
	font-family: Comfortaa;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 20px;
}

div#corps div p {
	font-family: Arial;
	line-height: 18px;
	text-align: justify;
	color: #000000;
}