div#corps {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

h2 {
	width: 100%;
	text-align: center;
	font-family: Comfortaa;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
}

svg#pointe {
	position: relative;
	left: -27.45%;
	margin-top: 40px;
}

div#tronc {
	width: 60%;
	display: flex;
	flex-direction: column-reverse;
	margin-left: 5%;
}

div.branche {
	width: auto;
	display: flex;
	flex-direction: row;
	vertical-align: middle;
	position: relative;
	border-left: 3px solid #000000;
}

div.branche p {
	font-family: Comfortaa, Arial;
	color: #000000;
}

div.branche p.date {
	position: absolute;
	top: 57.5%;
	left: -3%;
	transform: translate(-100%, -100%);
	font-size: 14px;
}

div.branche p.titre {
	position: absolute;
	top: 48%;
	left: 20%;
	transform: translate(-50%, -50%);
	font-size: 18px;
}

div.branche p.genre {
	position: absolute;
	top: 60%;
	left: 20%;
	transform: translate(-50%, -50%);
	font-size: 14px;
}

div.branche svg {
	width: 40%;
	height: 300px;
	position: relative;
	display: flex;
 	align-items: center;
 	transform: translateX(-1.5vh);
}

svg circle {
	z-index: 2;
	position: absolute;
    transform: translateY(50%);
}

svg line {
	position: absolute;
    transform: translate(5%, 54%);
    height: 100px;
}

div.feuille {
	width: 60%;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: -15px;
	border: 1px solid black;
}

hr {
	width: 90%;
	border: 0;
	border-top: 3px solid black;
	margin-bottom: 30px;
}

div#playlists {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div#playlists iframe{
	flex-basis: 26%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
}