* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #eeeeee;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #cccccc;
}

::-webkit-scrollbar-thumb {
  background: #363636;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b;
}

/* --- Ordinateur --- */
@media screen and (min-width: 800px) {
	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	/* --- Header --- */
	header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
	}

	nav.Navbar {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: #000000;
		border-bottom: 2px solid #ffffff;
		box-shadow: 0px -3px 10px black;
	}

	img#LogoNebula {
		width: 80px;
		padding-left: 40px;
		padding-right: 40px;
		z-index: 10;
		filter: grayscale(0);
		transition: 1s;
	}

	img#N {
		position: absolute;
		top: 14px;
		left: 5px;
		width: 80px;
		padding-left: 35px;
		padding-right: 35px;
		z-index: 11;
		transition: 1s;
	}

	nav a p {
		position: absolute;
		top: 47px;
		left: 95px;
		font-family: "UD Digi Kyokasho N-R";
		font-size: 17px;
		text-shadow: 1px 0 0 #000000,  -1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000;
		opacity: 0;
		transition: 0.7s;
	}
/*
	nav a:hover img#LogoNebula {
		filter: grayscale(100%);
	}*/

	nav a:hover img#N {
		transform: translate(-2px, 22.5px);
		width: 35px;
	}

	nav a:hover p {
		opacity: 1;
		transition: 1.3s;
		transform: translateX(-28px);
	}

	nav.Navbar ul {
		width: 100%;
		height: 105px;
		display: flex;
		flex-direction: row;
		align-items: center;
		list-style-type: none;
	}

	div.hamburger span, input {
		display: none;
	}

	nav.Navbar ul a {
		font-size: 1vw;
		line-height: 105px;
		flex-basis: 100%;
		font-family: Comfortaa, Arial;
		color: #ffffff;
		text-decoration: none;
	}

	nav.Navbar ul a li {
		height: 105px;
		text-align: center;
		transition: 0.6s background-color;
	}

	nav.Navbar ul a li:hover {
		background-color: #363636;
	}

	div#NBDivLogosRs {
		padding-left: 15px;
		padding-right: 5px;
		margin: 5px;
		display: flex;
		flex-direction: column;
	} 

	img.NBLogoRs {
		width: 25px;
		margin: 2px;
		border-radius: 3px;
		transition: 0.5s;
	}

	img.NBLogoRs#insta {
		border-radius: 5px;
	}

	img.NBLogoRs:hover {
		background-color: #3a3a3a;
	}

	/*--- Main ---*/
	main {
		margin-top: 110px;
	}

	/* --- Footer --- */
	footer {
		width: 100%;
		padding-top: 7px;
		padding-bottom: 7px;
		position: fixed;
		bottom: 0;
		z-index: 10;
		text-align: center;
		background-color: #000000;
	}

	footer a, p {
		font-size: 12px;
		font-family: Comfortaa, Arial;
		color: #ffffff;
		text-decoration: none;
	}

	footer span#x {
		position: absolute;
		right: 10px;
		bottom: 5px;
		font-size: 20px;
		font-family: Comfortaa, Arial;
		font-weight: bold;
		color: #ffffff;
		cursor: pointer;
	}
}


/*--- Main contenu ---*/
main div.artwork {
	position: relative;
}

main div.artwork img#hubblepic {
	width: 100%;
	transition: 1s;
}

main div.artwork div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (min-width: 800px) {
	main div.artwork div h1#titrePage {
		font-size: 160px;
		font-family: 'Arial Rounded MT', Comfortaa;
		text-align: center;
		color: rgb(1, 1, 1, 0);
	  	-webkit-text-stroke: 1px #ffffff;
	}
}

@media screen and (max-width: 800px) {
	main div.artwork div h1#titrePage {
		font-size: 16vw;
		font-family: 'Arial Rounded MT', Comfortaa;
		text-align: center;
		color: rgb(1, 1, 1, 0);
	  	-webkit-text-stroke: 1px #ffffff;
	}
}

div hr#underline {
	width: 25px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border: 0;
	border-top: 2px solid #ffffff;
	color: #ffffff;
}


ul.breadcrumb {
	padding: 20px 20px;
	list-style: none;
}

ul.breadcrumb li {
 	display: inline;
	font-size: 14px;
}

ul.breadcrumb li+li:before {
	padding: 8px;
	color: #000000;
	content: "/\00a0";
}

ul.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
	font-family: Comfortaa, Arial;
}

ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}


/* --- Smartphone ---*/
@media screen and (max-width: 800px) {
	/* --- Header --- */
	header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
	}

	nav.Navbar {
		width: 100%;
		height: 65px;
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: #000000;
		border-bottom: 2px solid #ffffff;
		box-shadow: 0px -3px 10px black;
	}

	img#LogoNebula {
		position: absolute;
		width: 55px;
		right: 15px;
		top: 5px;
		z-index: 10;
	}

	img#N {
		position: absolute;
		width: 55px;
		right: 15px;
		top: 5px;
		z-index: 11;
	}

	nav a p {
		display: none;
	}

	input#hamburger {
		width: 70px;
		height: 100%;
		position: absolute;
		z-index: 4;
		opacity: 0;
		cursor: pointer;
	}

	span.hamburgerSlice {
		height: 4px;
		width: 30px;
  		display: block;
  		position: absolute;
  		left: 0;
  		top: 0;
  		z-index: 3;
		background: #ffffff;
		border-radius: 9px;
		transition: 0.5s;
	}

	nav span.hamburgerSlice:nth-child(4) {
	 	top: 20px;
	 	left: 20px;
		transform-origin: left center;
	}

	nav span.hamburgerSlice:nth-child(5) {
		top: 30px;
		left: 20px;
	  	transform-origin: left center;
	}

	nav span.hamburgerSlice:nth-child(3) {
	 	top: 40px;
	 	left: 20px;
		transform-origin: left center;
	}

	input#hamburger:checked ~ span.hamburgerSlice:nth-child(4) {
	 	transform: rotate(45deg) translate(2px, -3px);
	}

	input#hamburger:checked ~ span.hamburgerSlice:nth-child(5) {
	  	width: 0%;
	  	opacity: 0;
	}

	input#hamburger:checked ~ span.hamburgerSlice:nth-child(3) {
	  	transform: rotate(-45deg) translate(2px, 3px);
	}

	nav.Navbar ul {
		width: 100%;
		margin-top: 65px;
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style-type: none;
		background-color: #000000;
		border-bottom: 0px none #ffffff;
		box-shadow: 0px -3px 10px black;
		transform-origin: 0% 0%;
		transform: translate(0, -150%);
		transition: 0.7s transform;
	}


	nav.Navbar ul a {
		width: 100%;
		line-height: 70px;
		font-size: 16px;
		font-family: Comfortaa, Arial;
		font-weight: lighter;
		color: #ffffff;
		text-decoration: none;
	}

	nav.Navbar ul a li {
		height: 70px;
		text-align: center;
		transition: 0.6s background-color;
	}

	nav.Navbar ul a li:hover {
		background-color: #363636;
	}

	div#NBDivLogosRs {
		position: relative;
		z-index: 2;
		top: -330px;
		left: -35%;
		margin-left: auto;
		display: flex;
		flex-direction: row;
		transform-origin: 0% 0%;
		transform: translate(-1000%, 0);
		transition: 1.5s transform;
	} 

	img.NBLogoRs {
		width: 30px;
		margin-left: 10px;
		margin-right: 10px;
	}

	input#hamburger:checked ~ ul {
		transform: none;
		border-bottom: 2px solid #ffffff;
	}

	input#hamburger:checked ~ div#NBDivLogosRs {
		transform: none;
	}

	/*--- Main ---*/
	main {
		margin-top: 65px;
		margin-bottom: 100px;
	}

	/* --- Footer --- */
	footer {
		width: 100%;
		padding-top: 10px;
		padding-bottom: 0;
		position: static;
		bottom: 0;
		z-index: 10;
		display: flex;
		text-align: center;
		background-color: #000000;
	}

	footer a, p {
		font-size: 10px;
		font-family: Comfortaa, Arial;
		color: #ffffff;
		text-decoration: none;
	}

	footer p {
		width: 95%;
	}

	footer span#x {
		position: relative;
		right: 5px;
		bottom: 6px;
		font-size: 20px;
		font-family: Comfortaa, Arial;
		font-weight: bold;
		color: #ffffff;
		cursor: pointer;
	}
}