<footer>
    <p><a href="index">Neebula</a>  –  <a href="contact" style="font-weight: bold;">Julien Mario Antoni CAPOSIENA</a>  –  <a href="ml">Tous droits réservés</a></p>
    <span id="x" onclick="this.parentElement.style.display='none';">x</span>
</footer>