<header>
    <!-- Navbar -->
    <nav class="Navbar">
        <a href="index">
            <img src="Images/Logos/Nebula_bright.png" id="LogoNebula" alt="Logo Nebula">
            <img src="Images/Logos/N.png" id="N" alt="Logo Nebula, lettre N">
            <p>eebula</p>
        </a>
        <input type="checkbox" name="checkbox" id="hamburger">
        <span class="hamburgerSlice"></span>
        <span class="hamburgerSlice"></span>
        <span class="hamburgerSlice"></span>
        <ul>
            <a href="index"><li><strong>Accueil</strong></li></a>
            <a href="projets"><li>Projets</li></a>
            <a href="cv"><li>Curriculum Vitæ</li></a>
            <a href="about"><li>À propos</li></a>
        </ul>
        <!-- Réseaux sociaux -->
        <div id="NBDivLogosRs">
            <a href="https://www.linkedin.com/in/julien-caposiena-54555a195/" target="_blank">
                <img src="Images/Logos/linkedin_logo_mono.png" class="NBLogoRs" id="LinkedIn">
            </a>
            <a href="https://www.instagram.com/julien_cpsn/" target="_blank">
                <img src="Images/Logos/instagram_logo_mono.png" class="NBLogoRs" id="insta">
            </a>
            <a href="https://www.facebook.com/JulienCpsn" target="_blank">
                <img src="Images/Logos/facebook_logo_mono.png" class="NBLogoRs" id="fb">
            </a>
        </div>
    </nav>
</header>